/* Apply styles to the item card */
.item-card {
    -fx-padding: 10px;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-background-color: white;
    -fx-effect: dropshadow(one-pass-box, black, 10, 0.5, 0, 0);
    -fx-background-insets: 0;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-cursor: hand;
}

/* Apply styles to the bottom box (button) of the item card */
.item-card-bottom {
    -fx-spacing: 10px;
    -fx-alignment: CENTER_RIGHT;
}

/* Apply styles to the name of the item */
.item-name {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-fill: #333;
}

/* Apply styles to the category of the item */
.item-category {
    -fx-font-style: italic;
    -fx-fill: #666;
}

/* Apply hover effect */
.item-card:hover {
    -fx-effect: dropshadow(one-pass-box, black, 10, 0.8, 0, 0);
}
